
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">  Guide </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">

      <ion-list>
        <ion-item>
          <ion-label> Selecciona la raza de un perro</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Selecciona una categoría/ origen de la raza</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Obtén información de la raza seleccionada</ion-label>
        </ion-item>

      </ion-list>

  </ion-content>
