
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Find your Dog Breed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <!--Breed Selector-->
    <ion-item>
        <ion-label>Escoge una raza de perro</ion-label>
        <ion-select [(ngModel)]="breedSelected"
                    (ngModelChange)="selectedBreed()"
                    ok-text="Seleccionar" cancel-text="Cancelar">
            <ion-select-option *ngFor="let item of dogBreeds"
            [value]="item"> {{item[0]}} ({{item[1].length}})
            </ion-select-option>
        </ion-select>
    </ion-item>
    <!--Breed Category/Origen  Selector-->
    <ion-item *ngIf="breedSelected && breedSelected[1].length >= 1">
        <ion-label>Escoge orígen de la raza</ion-label>
        <ion-select
                [(ngModel)]="categorySelected"
                (ngModelChange)="searchDog()"
                ok-text="Seleccionar" cancel-text="Cancelar">
            <ion-select-option *ngFor="let i of breedSelected[1]"
                               [value]="i">
              <p >{{i}}</p>
            </ion-select-option>
        </ion-select>
    </ion-item>

    <!--Selector Response after Request (images)-->
    <div *ngIf="dogPhotos">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle *ngIf="categorySelected">
                    {{categorySelected}}
                </ion-card-subtitle>
                <ion-card-title>
                    {{breedSelected[0]}}
                </ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-list>
                    <ion-item *ngFor="let item of dogPhotos">
                        <ion-img [src]="item"></ion-img>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
