
<ion-content [fullscreen]="true" *ngIf="worker">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
      <ion-title > {{worker.first_name}} </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
      <ion-card-header>
        <ion-avatar>
          <img [src]="worker.image" alt="avatar">
        </ion-avatar>
        <ion-card-title>
          {{worker.first_name}}  {{worker.last_name}}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="none">

          <ion-item>
            <ion-thumbnail slot="start">
              <img [src]="worker.thumbnail"  alt="thumbnail">
            </ion-thumbnail>
            <ion-label>Profession: {{worker.profession}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label>Email: {{worker.email}} </ion-label>
          </ion-item>

          <ion-item>
            <ion-label *ngIf="worker.gender === 'F'">Gender: Woman </ion-label>
            <ion-label *ngIf="worker.gender === 'M'">Gender: Man  </ion-label>
          </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
